
#content .text { padding-left: 42px; margin-top: 30px;}

.Ct .icon {background: url("../images/title_bg1.gif") no-repeat 0px -206px;}

#content .text p { color: #4a4a4a; font-size: 16px; font-family: '微软雅黑'; padding-bottom: 36px;}
